.nav-buttons{
    max-width:100%;
    margin-left:4px;
}
.processus{
    margin-left:23px;
    margin-right:0px;
    border:1px solid rgb(10, 57, 71);
    color:rgb(10, 57, 71);
    font-weight:bold;
    min-width:17%;
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(0deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.processus:hover{
    background:white;
    color:rgb(10, 57, 71);
    
}

.content-img{
    margin-left:auto;
    margin-right:auto;
    max-width:280px;
    max-height:300px;
}

.info{
    text-align:center;
}

.table-header{
    width:32%;
    text-align:center;
    /* background: #6AC9C6; */
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(115deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(115deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table-cell-title{
    font-weight:bold;
}

.table-middle{
    width:55%;
}

input:hover{
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(115deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(115deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input:focus{
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(115deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(115deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}