.nav-buttons{
    max-width:100%;
    margin-left:4px;
}
.processus{
    margin-left:23px;
    margin-right:0px;
    border:1px solid rgb(10, 57, 71);
    color:rgb(10, 57, 71);
    font-weight:bold;
    min-width:17%;
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(0deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.processus:hover{
    background:white;
    color:rgb(10, 57, 71);
    
}

.subtitle{
    color:rgb(64, 160, 157);
}

.table-header{
    width:40%;
    text-align:center;
    /* background: #6AC9C6; */
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(0deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.table-middle{
    font-weight:bold;
    width:50%;
}

.table-right{
    width:50%;
}
input:hover{
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(115deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-90deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input:focus{
    background: #39B7B3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(115deg, #39B7B3, rgb(255, 255, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-90deg, #39B7B3, rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-save{
    border:1px solid rgb(10, 57, 71);
    color:rgb(10, 57, 71);
    font-weight:bold;
    background: rgb(75, 221, 216);  /* fallback for old browsers */
    
}

.button-save:hover{
    background:white;
}

.button-cancel{
    border:1px solid white;
    color:white;
    font-weight:bold;
    background: rgb(10, 57, 71);  /* fallback for old browsers */
}

.button-cancel:hover{
    border:1px solid rgb(10, 57, 71);
    color:rgb(10, 57, 71);
    background:white;
}