<app-layout>
    <ng-container class="txt">
      <br>
      <div class="container">
        <br>
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="RH">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="table-header" rowspan="5" style="padding-top:14%">Ressources humaines</th>
                    <td class="table-middle">Nombre des membres restants [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre des recrutés</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre total de départs [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Budget alloué aux ressources humaines</td>
                    <td><input type="text" class="form-control" required></td>
                  <tr>
                    <td class="table-middle">Budget Total</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="formations">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="table-header" rowspan="5" style="padding-top:14%">Formations</th>
                    <td class="table-middle">Nombre de foramtions réalisées [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Effectif Total [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre des formations Soft [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre des formations Hard [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  <tr>
                    <td class="table-middle">Nombre des membres formés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="projets">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="table-header" rowspan="6" style="padding-top:17%">Projets</th>
                    <td class="table-middle">Nombre de projets réalisés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de projets décrochés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'effectif travaillant sur le volet projet [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Effectif Total [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  <tr>
                    <td class="table-middle">Nombre des clients satisfaits [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre total des clients [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="communication">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="table-header" rowspan="9" style="padding-top:23%">Communication</th>
                    <td class="table-middle">Nombre d'abonnées Facebook (N-1)</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'abonnées Facebook (N)</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'abonnées Instagram (N-1)</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'abonnées Instagram (N)</td>
                    <td><input type="text" class="form-control" required></td>
                  <tr>
                    <td class="table-middle">Nombre de passages radio [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Participation communication offline [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Taux de rebonds site web</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'article interne diffusés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre d'article externe diffusés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="devCommercial">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="table-header" rowspan="15" style="padding-top:37%">Dévloppement commercial</th>
                    <td class="table-middle">Nombre de partenariats à l'international [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de projets décrochés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de projets prospectés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Recettes Projets [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  <tr>
                    <td class="table-middle">Chiffre d'affaires [sur la période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de projets rémunérés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre total de projets [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de partenaires décrochés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de partenaires prospectés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de sponsors décrochés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Nombre de sponsors prospectés [Sur une période]</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Coûts engagés</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Revenus</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Valeur du sponsoring d'un evénement</td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                  <tr>
                    <td class="table-middle">Coût total estimé de l'evénement </td>
                    <td><input type="text" class="form-control" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  </app-layout>
  