<app-layout>
    <ng-container class="txt">

        <div class="content">
          <br>
          <p>Les KPI sont des indicateurs de performance clé, permettant de mesurer le progrès réalisé pour atteindre un objectif stratégique. 
            <br>
            <br>
            Ces indicateurs de performance sont utilisés dans la présentation de tableaux de bord de gestion et doivent être régulièrement mis à jour.
            <br>
            Outils de pilotage et de d’autodiagnostic, ces indicateurs devront fournir à l’ensemble de la Junior-Entreprise des objectifs clairs et définis.
            <br>
            Ils sauront être en mesure de mobiliser vos efforts pour une amélioration continue, et une meilleure gestion de votre processus de gestion.
            <br>
            Combinée à une compréhension de la façon dont ils se rapportent, ils seront un moyen pour l’atteinte de vos objectifset la réussite de votre JE.
            <br>
          </p>
            <h4>Utilité :</h4>
            <p>
              Orientant une démarche de progrès, les KPI sont fréquemment utilisés pour évaluer des activités difficiles à mesurer.
              <br>
              Ils permettent d’avoir une vision globale rapide de l’état de vos objectifs et de prendre des décisions correctives.
              <br>
              Un indicateur clé de performance permet de répondre aux objectifs suivants 
              <br>
              - Évaluation.
              <br>
              - Diagnostic.
              <br>
              - Communication.
              <br>
              - Information.
              <br>
              - Motivation.
              <br>
              - Progrès continu.
              </p>
        </div>
    </ng-container>
  </app-layout>
  
