<app-layout>
  <ng-container class="txt">
    <br>
    <div class="container">
      <div class="row nav-buttons">
        <button mat-raised-button  class="col-md-2 processus">RH</button>
        <button mat-raised-button  class="col-md-2 processus">Formations</button>
        <button mat-raised-button  class="col-md-2 processus">Projets</button>
        <button mat-raised-button  class="col-md-2 processus">Communication</button>
        <button mat-raised-button  class="col-md-2 processus">Dév Commercial</button>
      </div>
      <br>
      <br>
      <h4 class="info">Clicker sur un processus pour visualiser ces informations</h4>
    <div class="row">
      <img src="../../../assets/img/file.png" class="content">
    </div>
  </div>
</ng-container>
</app-layout>
