<app-layout>
  <ng-container class="txt">
    <h2 class="subtitle"> << If you can't measure it, you can't change it >> </h2>
      <div class="content">
        <h4>Chère Junior-Entreprise,</h4>
        <p>Nous mettons à votre disposition votre tableau de bord qui vous accompagnera pour vous aider à mesurer et piloter la performance de vos activités 
            au sein de votre Junior-Entrerpise.
            <br><br>
            Pour mener à bien cette étape, vous trouverez dans cette application :
            <br>
            - Un avant propos expliquant tous les processus [ Cliquer sur avant-propos ]
            <br>
            - Une fichie de saisie de données [ Cliquer sur saisie données ]
            <br>
            - Un tableau de bord de mesure de performance [ Cliquer sur saisie données ]
            <br>
            <br>
            NB : Les données insérées dans votre tableau de bord sont relatives à la période d'activités, commençant dès le lancement de vos activités jusqu'à la date
            de votre deuxième visite qualité ou jusqu'a la date de l'audit blanc ( vous allez trouver [Sur la période] devant les indicateurs ] .
            <br>
            Ce fichier alors sera analysé par votre Auditeur lors de votre audit blanc.
            <br>
            <br>
            Nous vous invitons alors de lire attentivement l'avant propos qui vous aidera à comprendre l'utilité des indicateurs de peformance utilisés 
            et ainsi leur impact sur vos processus d'activités
            </p>
            
      </div>
  </ng-container>
</app-layout>
